.our-service {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}

.our-service h1 {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 38px;
    letter-spacing: 0.06em;
    color: #062D3E;
}

.os-slider-btn {
    align-self: flex-end;
    margin-top: 30px;
}

.os-carousel {
    width: 540px;
}

.carousel {
    display: flex;
    transition: 1s;
}